<div class="dashboard pr">
    <div class="dashboard__info">
        <h2>SG293</h2>
        <p>GunGun Mobile</p>
    </div>
    <div class="dashboard__bar">
        <div class="bar_top">
            <div class="item">KPI: 55</div>
            <div class="item">Submit <span>22/12</span></div>
            <div class="item">Open <span>22/01</span></div>
            <div class="item per">40%</div>
        </div>
        <div class="bar_bottom">
            <div class="per">60%</div>
        </div>
    </div>
    <div class="dashboard__item flex">
        <div class="col-left">
            <div class="item">
                <h5>CSKH Vip</h5>
                <div class="box-per flex">
                    <span style="width: 40%;">40%</span>
                    <span style="width: 60%;">60%</span>
                </div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
            <div class="item">
                <h5>CSKH Vip</h5>
                <div class="box-per flex">
                    <span style="width: 40%;">20%</span>
                    <span style="width: 60%;">80%</span>
                </div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
        </div>
        <div class="col-righ">
            <div class="item">
                <h5>CSKH Vip</h5>
                <div class="box-per flex">
                    <span style="width: 40%;">40%</span>
                    <span style="width: 60%;">60%</span>
                </div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
            <div class="item">
                <h5>CSKH Vip</h5>
                <div class="box-per flex">
                    <span style="width: 40%;">40%</span>
                    <span style="width: 60%;">60%</span>
                </div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
            <div class="item">
                <h5>CSKH Vip</h5>
                <div class="box-per flex">
                    <span style="width: 40%;">20%</span>
                    <span style="width: 60%;">80%</span>
                </div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
        </div>
    </div>
</div>
<div class="table">
    <div class="table__head flex">
        <div class="col-lg-1 col-2">
            Task
        </div>
        <div class="col-lg-6 col-3">

        </div>
        <div class="col-lg-3 col-4">Nhóm được giao</div>
        <div class="col-lg-2 col-3">Đ.kèm/B.luận</div>
    </div>
    <div class="table__body">
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>1</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Vận hành cấp file cho nhóm mobile</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team manager">Game manager</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>2</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Mobile check file</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team android">Mobile android developer</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>3</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Vận hành check file lấy từ step 2</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team manager">Game manager</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>4</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Test process</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team qa">QA</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>5</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Confirm Submit</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team product">Product Manager</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>6</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Hoàn thiện thông tin game để submit</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team manager">Game Manager</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
        <div class="item flex">
            <div class="col-lg-1 col-2 flex-center">
                <h5>Step <span>7</span></h5>
            </div>
            <div class="col-lg-6 col-3">
                <p>Download</p>
            </div>
            <div class="col-lg-3 col-4 flex-center">
                <span class="team qa">QA</span>
            </div>
            <div class="col-lg-2 col-3"></div>
        </div>
    </div>
</div>
