body{
  font-family: 'Roboto Condensed', sans-serif;
  background: #ececec;
  font-size: 14px;
  line-height: 1.4;
}
.pr{position: relative;}
.dashboard{
  width: 370px;
  margin: 0 auto;
  text-align: center;
  &__info{
    margin-bottom: 15px;
    h2{color: #133129; font-weight: 700; font-size: 28px; line-height: 1;}
    p{color: #4c996b; font-weight: 700;}
  }
  &__bar{
    width: 100px; height: 500px; margin: 0 auto; background: #26aa57; border-radius: 26px 0 0 0; position: relative;
    .bar_bottom{
      width: 100%; height: 60%;
      padding-bottom: 5px;
      display: flex; align-items: flex-end; justify-content: center;
      background: #003e2f; border-radius: 26px 0 0 0; position: absolute; bottom: 0;
      color: #fff; font-weight: 700; font-size: 20px;
    }
    .bar_top{
      display: flex; flex-direction: column; justify-content: space-around;
      height: 40%; text-align: center; color: #fff; font-size: 18px; line-height: 1;
      span{display: block;}
      .per{font-size: 24px; font-weight: 700;}
    }
  }
  &__item{
    width: 100%; position: absolute; bottom: 30px; align-items: flex-end;
    > div{width: 50%;}
    .col-righ{
      display: flex; flex-direction: column;
      align-items: flex-end;
      .line2::before{left: inherit; right: 50%;}
      .line2::after{left: -25px; right: inherit;}
    }
    .item{
      width: 100px; padding-bottom: 50px; text-align: left; position: relative;
    }
    .box-per{
      width: 100px; height: 35px; border-radius: 0 7px 0 7px; background: #2db165;
      span{height: 100%; display: flex; align-items: center; justify-content: center; text-align: center; color: #fff;}
      span:nth-child(2){background: #043e30; border-radius: 0 7px 0 7px;}
    }
    h5{margin-bottom: 2px; color: #40534f; font-size: 14px; font-weight: 700;}
  }
  .line{
    &::before,&::after{content: ""; position: absolute;}
  }
  .line1{
    &::before{width: 6px; height: 6px; border-radius: 50%; background: #00110b; left: 50%; transform: translateX(-50%); bottom: 42px;}
    &::after{height: 30px; width: 1px; background: #00110b; left: calc(50% - 1px); bottom: 15px;}
  }
  .line2{
    &::before{height: 1px; width: 75px; background: #00110b; left: 50%; bottom: 15px;}
    &::after{width: 6px; height: 6px; border-radius: 50%; background: #00110b; right: -30px; transform: translateX(-50%); bottom: 13px;}
  }
}

.table{
  background: #eceff4;
  padding: 15px;
  width: 100%;
  overflow: auto;
  &__head{
    min-width: 600px; padding-bottom: 5px; color: #bcbfc4; font-size: 16px;
    > div{text-align: center;}
    > div:nth-child(1){text-align: left;}
  }
  &__body{
    min-width: 600px;
    .item{
      background: #fff;
      margin-bottom: 15px;
      border-radius: 3px;
      overflow: hidden;
      .col-lg-1:nth-child(1){background: #546f7a; text-align: center;}
      h5{margin-bottom: 0; padding: 5px 0 0; color: #fff; text-transform: uppercase; font-size: 14px;}
      h5 span{display: block; font-size: 30px;}
      p{
        padding: 5px 0; color: #b9bdbc; font: 600 16px 'Open Sans', sans-serif;
        @media (max-width: 760px) {
          font-size: 15px;
        }
      }
    }
    .team{
      margin: 3px; border-radius: 9999px; color: #fff; font-size: 15px; padding: 2px 10px;
      &.manager{background: #79be00;}
      &.android,&.product{background: #3e79c5;}
      &.qa{background: #e88c1f;}
    }
  }
}