:root{

}
body{
  background: #1b0e39;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.ios-help{
  max-width: 640px; margin: 0 auto; position: relative;
}
.main-inner{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.logo{width: vw(169px); display: block; margin: vw(25px) auto 0; position: relative; z-index: 5; transition: .25s;}
.logo:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
.menu{
  margin-top: vw(-110px);
  justify-content: center;
  li{margin: 0 vw(100px);}
  a{width: vw(193px); height: vw(43px); display: block; text-indent: -9999em; transition: .25s;}
  a:hover{-webkit-filter: saturate(1.9); filter: saturate(1.9);}
  li:nth-child(1) a{background: url("#{$img-path}/fanpage.png") no-repeat 0 0/contain;}
  li:nth-child(2) a{background: url("#{$img-path}/group.png") no-repeat 0 0/contain;}
}
.download{
  margin: vw(65px) 0 vw(15px);
  justify-content: center;
  h2.title{
    display: block; text-align: center;
    margin-bottom: 10px;
    flex-basis: 100%;
    color: #febf01;
    font: 700 26px 'Quicksand', sans-serif;
  }
  a{display: none; width: vw(213px); height: vw(75px); margin: 0 vwm(10px); text-indent: -9999em; transition: .25s;}
  a:hover{-webkit-filter: saturate(1.9); filter: saturate(1.9);}
  &__pc{background: url("#{$img-path}/download-pc.png") no-repeat 0 0/contain;}
  &__ios{background: url("#{$img-path}/download-ios.png") no-repeat 0 0/contain;}
  &__android{background: url("#{$img-path}/download-googleplay.png") no-repeat 0 0/contain;}
  &__apk{background: url("#{$img-path}/download-apk.png") no-repeat 0 0/contain;}
  &__appstore{background: url("#{$img-path}/appstore-btn.png") no-repeat 0 0/contain;}
}

.slider-img{
  margin: 0 auto;
  .slick-slide{margin: 0 auto;}
  img{display: block; max-width: vw(852px); margin: 0 auto;}
  .slick-arrow{
    width: vw(51px); height: vw(85px);
    background: url("#{$img-path}/ar.png") no-repeat 0 0/contain;
    position: absolute; top: 40%; transform: translateY(-50%);
    font-size: 0; border: none; cursor: pointer; z-index: 9;
    &:hover{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
    &:focus{outline: none;}
  }
  .slick-next{right: 25%;}
  .slick-prev{left: 25%; transform: translateY(-50%) rotate(180deg);}
}
.downloadotp{
  margin-top: vw(20px);
  justify-content: center;
  a{display: none; width: vw(204px); height: vw(84px); text-indent: -9999em;}
  a:hover{-webkit-filter: saturate(1.9); filter: saturate(1.9);}
  .otp_ios{background: url("#{$img-path}/download-otp-ios.png") no-repeat 0 0/contain;}
  .otp_android{background: url("#{$img-path}/download-otp-android.png") no-repeat 0 0/contain;}
}
.help{
  padding: 0 15px;
  article{
    display: block;
    max-width: 640px;
    background-color: rgba(0,0,0,0.20);
    border-radius: 18px;
    border: 1px #5565bf solid;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
  }
  h4{
    font: 700 18px 'Quicksand', sans-serif;;
    color: #febf01;
    font-style: italic;
    text-decoration: underline;
    padding: 0 0 5px 0;
  }
  p{margin: 4px 0; color: #fff; font: 400 14px 'Quicksand', sans-serif;}
  p:before{
    content: "";
    width: 5px; height: 5px;
    display: block;
    margin: 6px 10px 0 0;
    background: #fff; border-radius: 50%;
    float: left;
  }
}




.popup-register,.popup-download{
  .modal-dialog{max-width: vw(645px);}
  .close{
    width: vw(94px); height: vw(94px);
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; top: vw(24px); right: vw(-80px); opacity: .9;
  }
  .modal-title{
    width: vw(645px); height: vw(153px);
    display: block; margin-bottom: vw(-80px); text-indent: -9999em;
    background: url("#{$img-path}/title.png") no-repeat 0 0/contain;
    position: relative; z-index: 9;
  }
  .modal-content{background: none; border: none;}
  .download{
    justify-content: center;
    li{width: 50%; padding: 10px;}
    a{width: vw(226px); height: vw(85px); display: block; text-indent: -9999em; margin: 0 auto;}
    a:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
    .google_play{background: url("#{$img-path}/google_play.png") no-repeat 0 0/contain;}
    .android_apk{background: url("#{$img-path}/android.png") no-repeat 0 0/contain;}
    .ios{background: url("#{$img-path}/ios.png") no-repeat 0 0/contain;}
    .app_store{background: url("#{$img-path}/appstore.png") no-repeat 0 0/contain;}
  }
  .form-register,.download{
    width: vw(570px);
    margin: 0 auto;
    padding: vw(100px) 15px vw(70px);
    border-radius: 20px;
    border: 2px solid #ddb97d;
    background: rgba(#171219,.8);
  }
  .form-group{
    width: vw(442px); height: vw(70px); margin: 0 auto vw(30px); position: relative;
  }
  .captcha{
    align-items: center;
    flex-wrap: nowrap;
    input{width: vw(240px); padding: 0 vw(35px);}
    .reset{
      width: vw(61px); height: vw(61px);
      background: url("#{$img-path}/reset.png") no-repeat 0 0/contain;
    }
    &_img{
      display: flex; align-items: center;
      padding: 0 vw(15px);
    }
    img{max-height: 100%;}
  }
  input{
    width: 100%; height: 100%;
    padding: 0 vw(77px);
    border-radius: 9999px;
    border: 2px solid #d68f3d;
    font: vw(24px) UTMAvoItalic, sans-serif; color: #29160c;
    &::placeholder{color: #29160c;}
    &:focus{outline: none; box-shadow: none;}
  }
  .icon{position: absolute; top: 50%; transform: translateY(-50%); left: vw(30px);}
  .icon-account{
    width: vw(35px); height: vw(41px);
    background: url("#{$img-path}/icon-account.png") no-repeat 0 0/contain;
  }
  .icon-password{
    width: vw(28px); height: vw(35px);
    background: url("#{$img-path}/icon-download.png") no-repeat 0 0/contain;
  }
  .btn_submit{
    width: vw(270px); height: vw(97px); display: block;
    margin: vw(54px) auto 0; text-indent: -9999em;
    background: url("#{$img-path}/btn_register.png") no-repeat 0 0/contain;
    &:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
  }
}
.popup-download{
  .modal-title{background: url("#{$img-path}/title2.png") no-repeat 0 0/contain;}
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 2%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 2%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 2%, 0) rotateZ(-360deg);
  }
}

@keyframes movie1 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 8%, 0) rotateZ(0deg);
    -webkit-filter: saturate(2.1); filter: saturate(2.1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 8%, 0) rotateZ(-360deg);
    -webkit-filter: saturate(.8); filter: saturate(.8);
  }
}

@keyframes movie2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 4%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 4%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 4%, 0) rotateZ(0deg);
    -webkit-filter: saturate(2.1); filter: saturate(2.1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 4%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 4%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 4%, 0) rotateZ(-360deg);
    -webkit-filter: saturate(.8); filter: saturate(.8);
  }
}


@media (max-width: 1023px) {
  .bg-landing{height: 100vh; width: 100%; object-fit: cover;}
  .logo{width: vwm(169px); margin: vwt(35px) auto 0;}
  .menu{
    margin-top: vwm(-110px);
    li{margin: 0 vwt(110px);}
    a{width: vwm(193px); height: vwm(43px);}
  }
  .download{
    margin: vwt(100px) 0 vwt(55px);
    justify-content: center;
    a{width: vwm1(213px); height: vwm1(75px); text-indent: -9999em;}
    a:hover{-webkit-filter: saturate(1.9); filter: saturate(1.9);}
  }
  .download--ios{margin-top: 0;}
  .slider-img{
    img{ max-width: 90%;}
    .slick-arrow{
      width: vwt(51px); height: vwt(85px);
      &:hover{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
      &:focus{outline: none;}
    }
    .slick-next{right: 15%;}
    .slick-prev{left: 15%; transform: translateY(-50%) rotate(180deg);}
  }
  .downloadotp{
    a{width: vwm1(204px); height: vwm1(84px);}
  }
  .popup-register,.popup-download{
    .modal-dialog{max-width: 600px;}
    .close{width: vwm(74px); height: vwm(74px); top: vwm(35px); right: vwm(-50px);}
    .modal-title{
      width: vwm(600px); height: vwm(142px);
      margin: 0 auto vwm(-60px);
    }
    .download{
      li{padding: 5px 0;}
      a{width: vwm(226px); height: vwm(85px);}
    }
    .form-register,.download{
      width: vwm(540px);
      padding: vwm(80px) 15px vwm(50px);
    }
    .form-group{
      width: 80%; max-width: vwm(440px); height: vwm(50px); margin-bottom: vwm(20px);
    }
    .captcha{
      input{width: vwm(200px); padding: 0 vwm(25px);}
      .reset{width: vwm(41px); height: vwm(41px);}
      &_img{
        display: flex; align-items: center;
        height: 100%;
        padding: 0 vw(15px);
      }
      img{max-height: 100%;}
    }
    input{padding: 0 vwm(50px); font-size: 15px;}
    .icon{left: vwm(15px);}
    .icon-account{
      width: vwm(30px); height: vwm(35px);
    }
    .icon-password{
      width: vwm(25px); height: vwm(31px);
    }
    .btn_submit{
      width: vwm(220px); height: vwm(79px); margin-top: vwm(40px);
    }
  }
}

@media (orientation: landscape) and (max-width: 767px) {
  .bg-landing{height: vwt(1300px);}
}